<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">

    </div>

    <div class="col-sm-4">
      <div class="panel panel-info">

        <div class="panel-heading">
          <span>Zaloguj się</span>
        </div>

        <div class="panel-body">
          <form (ngSubmit) = 'loginUser()'>
            <div id="userName-input" class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </span>
                <input name="userName" [(ngModel)]='credentials.userName'type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
              </div>

              <div id="password-input" class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                  <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </span>
                <input name="password" [(ngModel)]='credentials.password' type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
              </div>

              <div id="login-btn">
                <button type="submit" class="btn btn-success">Zaloguj</button>
              </div>
          </form>
              <hr />

              <p>Nie masz konta? <a [routerLink] = "['/register']">Zarejestruj się</a></p>

        </div>
      </div>
    </div>
  </div>
</div>
