<form>
  <div class="form-group">
    <div class="panel panel-primary">
      <div class="panel-heading">Dodaj samochód</div>
      <div class="panel-body">
        <div>
          <div class="row">

            <div class="col-sm-4">
              <label for="name">Nazwa</label>
              <div class="input-group">
                <input [(ngModel)] = "car.name" type="text" class="form-control" id="name" aria-describedby="basic-addon3">
              </div>
            </div>

            <div class="col-sm-4">
              <label for="fuelConsumption">Zużycie paliwa na 100km w litach</label>
              <div class="input-group">
                <input [(ngModel)] = "car.fuelConsumption100km" type="number" class="form-control" id="fuelConsumption" aria-describedby="basic-addon3">
              </div>
            </div>

            <div class="col-sm-4">
              <label for="fuelType">Wybierz rodzaj paliwa</label>
              <select [(ngModel)] = "fuelType" id="fuelType" class="form-control">
                <option>Benzyna</option>
                <option>Diesiel</option>
                <option>LPG</option>
                <option>Hybryda</option>
                <option>Elektryczny</option>
              </select>
            </div>

          </div>
        </div>

      </div>
      <div class="panel-footer">
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Dodaj</button>
        </div>
      </div>
    </div>
  </div>
</form>

