<form>
  <div class="form-group">
    <div class="panel panel-primary">
      <div class="panel-heading">Stwórz podróż</div>
      <div class="panel-body">

        <ng-template #listBoxElement let-r="result" let-t="term">
           {{r.name}}
        </ng-template>

        <label for="car">Wybierz samochód:</label>
        <input id="car"
               name="carName"
               type="text"
               role="select"
               class="form-control"
               [(ngModel)]="selectedCar"
               [ngbTypeahead]="carTypeHeadList"
               [inputFormatter]="carNameFormatter"
               [resultFormatter]="carNameFormatter"
               [resultTemplate]="listBoxElement"
               (focus)="focus$.next($event.target.value)"
               (click)="click$.next($event.target.value)"
               #instance="ngbTypeahead"/>
        <hr>
        <div id="journey">
          <div class="row">

            <div class="col-sm-6">
              <label for="start">Początek</label>
              <div class="input-group">
                <input type="text" class="form-control" id="start" aria-describedby="basic-addon3">
              </div>
            </div>

            <div class="col-sm-6">
              <label for="destination">Cel</label>
              <div class="input-group">
                <input type="text" class="form-control" id="destination" aria-describedby="basic-addon3">
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-sm-6">
              <label for="length" title="Długość trasy w kilometrach">Odległość [km]</label>
              <div class="input-group">
                <input type="number" class="form-control" id="length" aria-describedby="basic-addon3"
                       title="Długość trasy w kilometrach">
              </div>
            </div>
            <div class="col-sm-6">
              <label for="price" title="Cena za 1 litr paliwa">Cena [1l]</label>
              <div class="input-group">
                <input type="number" class="form-control" id="price" aria-describedby="basic-addon3"
                       title="Cena za 1 litr paliwa">
              </div>
            </div>
          </div>

          <hr />
          <div id="passengerRoutes">
            <div class="passenger row">
              <div class="col-sm-4">
                <label>Pasażer</label>
                <div class="input-group">
                  <input type="text" class="form-control" aria-describedby="basic-addon3">
                </div>
              </div>
              <div class="col-sm-4">
                <label>Początek</label>
                <div class="input-group">
                  <input type="text" class="form-control" aria-describedby="basic-addon3">
                </div>
              </div>
              <div class="col-sm-4">
                <label title="Długość trasy przejechana przez danego pasażera w kilometrach">Odległość [km]</label>
                <div class="input-group">
                  <input type="number" class="form-control" aria-describedby="basic-addon3"
                         title="Długość trasy przejechana przez danego pasażera w kilometrach">
                </div>
              </div>
            </div>
          </div>
          <div id="newPassenger">
            <button (click)="addPassengerButtonOnClick()" id="addPassengerButton" type="button" class="btn btn-default"
              aria-label="Left Align" title="Dodaj kolejnego pasażera">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
          </div>


        </div>

      </div>
      <div class="panel-footer">
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Stwórz</button>
          <button (click)="send()" class="btn btn-primary">Alert</button>
        </div>
      </div>
    </div>
  </div>
</form>
